<beans xmlns="http://www.springframework.org/schema/beans"    
    xmlns:mvc="http://www.springframework.org/schema/mvc"  
    xmlns:security="http://www.springframework.org/schema/security"  
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd">
<security:http auto-config="true">
<security:intercept-url pattern="/product/**" access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/saveProduct/**" access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/editproduct/**" access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/removeproduct/**" access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/category/**" access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/saveCategory/**" access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/editcategory/**" access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/removecategory/**" access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/supplier/**" access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/savesupplier/**" access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/editsupplier/**" access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/removesupplier/**" access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/addToCart/**" access="hasRole('ROLE_USER')" />
		
		<security:intercept-url pattern="/viewcart/**" access="hasRole('ROLE_USER')" />
<security:intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')"/>
<security:form-login
login-page="/Login"
login-processing-url="/j_spring_security_check"
username-parameter="username"
password-parameter="password"
authentication-success-forward-url="/userLogged"
authentication-failure-forward-url="/error"/>
<security:logout  logout-url="/j_spring_security_logout"
invalidate-session="true" logout-success-url="/"/>
<security:access-denied-handler error-page="/error"/>
<security:csrf disabled="true"/>
</security:http>
<security:authentication-manager>
<security:authentication-provider>
<security:jdbc-user-service data-source-ref="datasource"
users-by-username-query="select email,password,TRUE as enabled from user where email=?"
authorities-by-username-query="select email,Role from user where email=?"/>
</security:authentication-provider>
</security:authentication-manager>
</beans>